* {
    -webkit-border-radius: 4px !important;
       -moz-border-radius: 4px !important;
            border-radius: 4px !important;
  }
.card-body{
    padding: 35px;
}
.card-header{
    background-color: rgb(55, 54, 54) !important;
    border-color: rgb(55, 54, 54) !important;
}
.bg-dark{
    border-color: rgb(55, 54, 54) !important;
}
.articleNumber{
    font-size: 2rem;
    font-weight: 700;
    padding-left: 50px;
}
#article-results :not(:first-child){
        margin-top: 1rem;
}