* {
    -webkit-border-radius: 4px !important;
       -moz-border-radius: 4px !important;
            border-radius: 4px !important;
  }
.card{
    margin-bottom: 1rem;
}
.card-body{
    padding: 35px;
}
.card-header{
    background-color: rgb(55, 54, 54) !important;
    border-color: rgb(55, 54, 54) !important;
    display: flex;
    justify-content: space-between;
}
.bg-dark{
    border-color: rgb(55, 54, 54) !important;
}
.articleNumber{
    font-size: 2rem;
    font-weight: 700;
    padding-left: 50px;
}
#article-results :not(:first-child){
        margin-top: 1rem;
}
#sqs{
    background-color: white;
    color: black;
    &:hover{
        background-color: rgb(45, 45, 45);
        color: white;
    }
    &:active{
        background-color: rgb(75, 75, 75);
    }
}

iframe{
    min-width: 100% !important;
    min-height : 25rem !important;
    overflow: auto !important;
}