* {
    -webkit-border-radius: 4px !important;
       -moz-border-radius: 4px !important;
            border-radius: 4px !important;
}
a{
    text-decoration: none;
    color: inherit;
    &:hover{
        color:white;
    }
}
.note a{
    text-decoration: none;
    color:#00008c !important;
    &:hover{
        color:rgb(145, 93, 193) !important;
    }
}
.card-body{
    padding: 35px;
}
.card-header{
    background-color: rgb(55, 54, 54) !important;
    border-color: rgb(55, 54, 54) !important;
    display: flex;
    justify-content: space-between;
}
.search-container{
    width: 100%;
    margin: auto;
}
.bg-dark{
    border-color: rgb(55, 54, 54) !important;
}
.articleNumber{
    font-size: 2rem;
    font-weight: 700;
    padding-left: 50px;
}
#article-results :not(:first-child){
        margin-top: 1rem;
}
#sqs{
    background-color: white;
    color: black;
    &:hover{
        background-color: rgb(75, 75, 75);
        color: white;
    }
    &:active{
        background-color: rgb(100, 100, 100);
    }
}
/* iframe, .element-video{
    min-width: 100% !important;
    min-height: 25rem !important;
    overflow: auto !important;
} */
span {
    font-size: 0.8rem;
    background-color: aliceblue;
    color: #666;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input {
    padding: 0.2rem;
    &[type="number"]{
        max-width: 3rem;
        text-align: center;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 8px;
    /* background: #646464; */
    outline: none;
    /* opacity: 0.7; */
    transition: opacity .2s;
    border-radius: 0.2rem;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(247, 198, 51);
    opacity: 1;
    background-size: 1.5em;
    cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    background-color: #a2a2a2;
    margin-top: 13%;
  }

input[type="range"]::-moz-range-thumb {
    background-size: 1.5em;
    cursor: pointer;
}

#rating{
    margin-left: 5%;
}

#rating-span-parent{
    position: relative;
    width: 120px;
    height: 10px;
    top: -2.2rem;
    .rating-span-text{
        position: absolute;
        left: 45%;
        font-size: 15px;
        font-weight: 500;
        color: #333;
        background-color:rgb(170, 176, 188);
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
}

.modal{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 245, 238, 0.295);
    .btn-close{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5rem;
        --bs-btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFF'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>")
    }
    .modal-body{
        background: rgb(201,14,101);
        background: linear-gradient(30deg, rgba(199,0,93,1) 0%, rgba(201,14,101,1) 10%, rgba(203,32,111,1) 85%, rgba(205,93,145,1) 100%);
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        flex: none;
        border-radius: 1.5rem !important;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
        .modal-header{
            border: none;
            margin: auto;
            h5{
                color: white;
                font-size: 2rem;
                font-weight: 700;
            }
        }
        .modal-content{
            flex: 4;
            background: none;
            border: none;
            color: white;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 500;
            display: flex;
            justify-content: center;
        }
    }
}

@media (width < 999px) {
    .vid{
        display: none;
    }
    .card{
        width: 100% !important;
    }
}

@media screen and (max-width: 1000px) {
    .search-container{
        width: 100% !important;
    }
}

